body{
    margin:0;
    padding:0;
    background:yellow;
    font-family:Arial;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.container{
    text-align:center;
}

#board{
    display:grid;
    grid-template-columns:repeat(9,40px);
    grid-template-rows:repeat(9,40px);
    gap:0;
    margin:20px auto;
}

input{
    width:48px;
    height:48px;
    text-align:center;
    font-size:22px;
    border:1px solid #999;
}

.fixed{
    background:#ddd;
    font-weight:bold;
}

input:nth-child(3n){
    border-right:3px solid black;
}

input:nth-child(9n+1){
    border-left:3px solid black;
}

.buttons button{
    padding:10px 20px;
    margin:5px;
    cursor:pointer;
    font-size:16px;
}

#message{
    font-size:35px;
    color:red;
}